:root {
  --blueish: rgb(97, 175, 239);
  --reddish: rgb(190, 96, 105);
  --whiteish: rgb(170, 178, 191);
  --orangeish: rgb(201, 149, 99);
  --greenish: rgb(150, 192, 119);
  --dark-gray: rgb(33, 37, 43);
  --light-gray: rgb(40, 44, 52);
  --lighter-gray: rgb(58, 63, 71);
}

/* UTILITY STYLES */
* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: var(--dark-gray);
}

.center {
  margin: 0 auto;
  text-align: center;
}

.btn {
  background-color: var(--blueish);
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
}

.btn:hover {
  background-color: var(--orangeish);
}

/* HIGHSCORE LINK AND TIMER STYLES */
#highscore-link {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--blueish);
  border: none;
  background-color: transparent;
  font-size: 1rem;
}

#highscore-link:hover {
  color: var(--greenish);
  cursor: pointer;
}

#timer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--reddish);
}

/* MAIN SECTION STYLES */
main {
  width: 90%;
  height: 40rem;
  margin: 5rem auto;
  padding: 0 2rem;
  color: var(--whiteish);
  background-color: var(--light-gray);
  border: 3px solid var(--orangeish);
}

/* LANDING STYLES */
h1 {
  text-align: center;
  font-size: 3rem;
}

p {
  text-align: center;
}

#landing-content h2 {
  text-align: center;
  margin-top: 5rem;
  font-size: 2rem;
}

/* QUESTION AND ANSWER STYLES */
#question-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 3rem auto;
  width: 60%;
}
#question-container h2 {
  text-align: left;
}

#question-container button {
  width: 50%;
  text-align: left;
  margin: 0.5rem 0;
}

/* END GAME STYLES */
#end-game-container h2 {
  font-size: 2rem;
  text-align: center;
}

#score-submit-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 40%;
}

#score-submit-container input {
  width: 100%;
  font-size: 1.5rem;
  color: var(--whiteish);
  background-color: var(--lighter-gray);
  border: none;
  border: 2px solid var(--dark-gray);
  margin-bottom: 1rem;
}

#score-submit-container input:focus {
  outline: 1px solid var(--whiteish);
}

#score-submit-container button {
  margin-right: 0.5rem;
}

/* HIGHSCORES STYLES */
#highscores-display-container h2 {
  text-align: center;
  font-size: 2rem;
}

#highscores-display-container ol {
  margin: 0 auto;
  padding: 1rem;
  width: 50%;
  border: 2px solid var(--dark-gray);
  background-color: var(--lighter-gray);
}

#highscores-display-container li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--whiteish);
}

#highscores-display-container div {
  margin: 1rem auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .btn {
    font-size: 1rem;
    min-height: 2rem;
  }

  #question-container {
    width: 100%;
  }

  #question-container h2 {
    font-size: 1.3rem;
  }

  #question-container button {
    width: 80%;
  }

  #score-submit-container {
    width: 100%;
  }

  #highscores-display-container ol {
    width: 100%;
  }

  #highscores-display-container div {
    width: 90%;
  }
}
